/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  position:relative;
  background: #FAFAFA;
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.button {
  font-size: 22px;
  position:absolute;
  top:15%;
  right:5%;
}

.button-group {
  margin-bottom: 20px;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.flickity-page-dots {
  bottom: -40px;
}
.style1 {
  background-image: url(https://statics.sportskeeda.com/wp-content/uploads/2016/08/donbass-arena-1471952484-800.jpg);
  background-size:cover;
  }
.style2 {
  background-image: url(https://d1bvpoagx8hqbg.cloudfront.net/originals/27-best-football-stadiums-europe-ad5f4bca798e809025754201df05891d.jpg);
  background-size:cover;
}
.style3 {
  background-image: url(https://www.bethq.com/sites/default/files/uploads/01-wembley-stadium.jpg);
  background-size:cover;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }